{% extends "base.html" %} {% block content %} {% load static %}
<section class="content">
  <div class="heading">
    <img class="image" src="{% static 'img/s.jpeg' %}" />
    <h1>Home</h1>
  </div>
  <section class="post_form">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="logo_box">
        <div class="logo">
          <img src="{% static 'img/user.png' %}" />
        </div>
        <div class="box">
          <input type="text" name="name" placeholder="Name" required />
          <textarea
            rows="4"
            cols="4"
            name="body"
            placeholder="Tell us anything"
            required
          ></textarea>
          <input class="inputimage" name="image" type="file" />
          <input type="submit" value="Tweet" />
        </div>
      </div>
    </form>
  </section>

  <section class="posts">
    <ul>
      {% for post in posts %}
      <li>
        <img class="menu_icon js-menu-icon" src="{% static 'img/menu.png' %}" />
        <div class="menu">
          <a href="/delete/{{ post.id }}">Delete</a><br />
          <a href="/edit/{{ post.id }}">Edit</a>
        </div>
        <div class="logo">
          <img src="{% static 'img/user.png' %}" />
        </div>
        <div class="name_body">
          <div class="name">{{post.name}}</div>
          <div class="datetime">{{post.created_at}}</div>
          <p>{{post.body }}</p>

          {% if post.image %}

          <img
            src="{{post.image.url}}"
            alt=""
            class="postimage"
            style="height: 250px; width: 400px"
          />
          {% endif %}
          <div class="like">
            <form
              id="likes-form"
              action="{% url 'like_post' post.pk %}"
              method="POST"
            >
              {% csrf_token %}
              <button
                class="like-button"
                type="submit"
                name="post_id"
                value="{{ post.id }}"
              >
                &#128077;
              </button>
              {{post.likes}}
            </form>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>

  <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"
  ></script>
  <script src="{% static 'js/posts.js' %}"></script>
</section>

{% endblock %}
